* {
  box-sizing: border-box;
}

#container {
  /* background-color: blue; */
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  height: 25px;
  width: 25px;
  border: 2px solid black;
}
